body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 20px;
    background-color: var(--tg-theme-bg-color, #ffffff);
    color: var(--tg-theme-text-color, #000000);
}

h2 {
    font-size: 28px;
    font-weight: bold;
}

h3 {
    font-size: 24px;
    margin-top: 15px;
}

button {
    display: block;
    width: 85%;
    max-width: 350px;
    margin: 12px auto;
    padding: 16px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    background-color: var(--tg-theme-button-color, #0088cc);
    color: white;
    transition: background 0.3s ease-in-out;
}

button:hover {
    background-color: #005f8f;
}

#status {
    font-size: 20px;
    font-weight: bold;
    margin-top: 15px;
}