body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 20px;
    background-color: var(--tg-theme-bg-color, #ffffff);
    color: var(--tg-theme-text-color, #000000);
}

h2 {
    font-size: 30px;
    font-weight: bold;
}

h3 {
    font-size: 26px;
    margin-top: 20px;
}

button {
    display: block;
    width: 90%;
    max-width: 380px;
    margin: 15px auto;
    padding: 18px;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    border-radius: 12px;
    background-color: var(--tg-theme-button-color, #0088cc);
    color: white;
    transition: background 0.3s ease-in-out;
}

button:hover {
    background-color: #005f8f;
}

#status {
    font-size: 22px;
    font-weight: bold;
    margin-top: 20px;
}
